
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

#home{
    position: fixed;
}

header{
    width: 100%;
    height:5rem;
    line-height: 5rem; 
    background-color: #2b6777; 
    text-align: center; 
    display: flex; 
    justify-content: space-between;

}

#logo{
    padding-left:3%;
    font-size: xx-large;
    font-weight: 800;
    color: #c8d8e4;
}

#navigationBar{
    padding-right: 3%;

}

.navItem{
    text-decoration: none;
    color: #52ab98;
    padding-left: 1rem;
}

#word{
    font-family: Impact;
    color: #52ab98;
}

.card{
    background-color: #fff;
    width: 21.25em;
    height: max-content;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    transition: 0.7s ease;
}

#itemTitle{
    font-size: 1rem;
    color: black;
}

#itemDescription{
    font-size: 0.7rem;
}

#searchBox{
    width: 30rem;
    margin-left: 25%;
    
}

#product{
    display: flex;
    
}

button{
    margin-top: 10px;
    background: 0,0,0 ;
    border: 2px solid #f2f2f2;
    color: #f2f2f2;
    font-weight: 900;
    font-size: x-large;
    height: 2rem;
    width: 15rem;
    
}

button:hover{
    background: #f2f2f2;
    color: #2b6777;
    
}
#searchItems{
    width: 15rem;
    height: 2rem;
    border: 1px solid #f2f2f2;
}

#productSection{
    padding-top: 8rem;
    width: 100%; 
    height: 35rem; 
    background: url(/images/headerBackground.jpg);
}

#slogan{
    text-align: center;
    color: white;
    font-weight: 700;
    padding-left: 5rem;
    padding-top: 1rem;
    font-size: 2rem;
    margin: 0;
}

.icon{
    color: #2b6777;
    
    font-size: 5em;
    text-align: center;
}



#aboutSection{
    width: 100%; 
    height: 40rem;
    background-color: #52ab98; 
    color: #fff;
    display: block;
    padding-left: 1rem;
    padding-top: 5rem;
}

#aboutSectionDiv{
    width: 100%;
    display: flex; 
}

#searchProducts{
    width: 100%; 
    height: 35rem;
    background-color: #52ab98; 
    padding-left: 1rem;
    padding-top: 5rem;
    text-align: center;
}

#searchUsers{
    width: 100%; 
    height: 45rem;
    background-color: #2b6777; 
    padding-left: 1rem;
    padding-top: 5rem;
    text-align: center;
}

#aboutParag{
    padding-left: 1rem;
    padding-right: 1rem;
}

#about{
    text-align: center;
    padding-bottom: 2rem;
    color: #2b6777;
    font-size: xx-large;
}

#labelDropList{
    color: #2b6777;
    font-size: xx-large;
    
}

#labelDropList2{
    color: #52ab98;
    font-size: xx-large;
    
}

#listSection{
    padding-bottom: 1rem;
}

.cardMenu{
    margin-left: auto;
    margin-right: auto;
}

#users{
    width: 50rem;
}

.userInfoCon{
    background-color: #c8d8e4;
    border-radius: 30px;
    display: inline-block;
    padding: 0.3rem;
    margin: 0.2rem;
}

.userInfoConInside{
    background-color: #e0f0e0;
    border-radius: 30px;
    display: inline-block;
    padding: 0.3rem;
    margin: 0.2rem;
}

footer{
    width: 100%; 
    background-color:white;
    padding-right: 1rem;
    margin-top: 0;
    height: 100%;
}

#bottom-footer{
    display: flex; 
    justify-content: space-between;
}

#copyRight{
    display: inline-block;
    font-size: 1rem;
}

#social-link{
    display: inline-block;
    padding-left: 1rem;
}

.icon2{
    color: #2b6777;
    padding-left: 1rem;
}